body {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

body .video-modal .video-box {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

a {
  color: #ff7f00;
}

a:active,
a:hover {
  color: #4884c2;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.search::after {
  content: '';
  background: #ff7f00;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
}

.shopping-cart {
  font-size: 20px;
}

.fa-shopping-cart {
  color: #ff7f00;
}

.nav > li > a {
  color: #777;
}

.nav > li > a:hover {
  color: #ff7f00;
  border-bottom: solid 1px;
  background-color: transparent;
}

.navbar-toggle {
  background: #ff7f00;
}

.product-category {
  color: #4884c2;
  font-size: 1.2em;
}

.item-detail {
  margin-top: 30px;
}

/* Buttons  */

.button-default {
  background: #ff7f00;
  border-radius: 3px;
  border: none;
  padding: 15px 24px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.button-default-secondary {
  background: transparent;
  border-radius: 3px;
  color: #4884c2;
  border: none;
  padding: 15px 24px;
border: 1px solid #4884c2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.button-default-secondary:hover, .button-default-secondary:focus {
 background-color: #4884c230 !important;
 
}

.button-add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7f00;
  border-radius: 50px;
  border: none;
  padding: 15px 8px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  flex: 1;
  max-width: 240px;
}

.button-add-to-cart:focus,
.button-add-to-cart:hover {
  color: #fff;
  background-color: #4c8dcf;
}



.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-sm-add-to-cart {
  border: none;
  background-color: #ff7f00;
  color: white;
  width: 100%;
}

.btn-sm-add-to-cart:hover {
  border: none;
  background-color: #ff7f00;
  color: white;
}

.btn-sm-add-to-cart a {
  color: #777;
}

.product-image {
  margin-bottom: 16px;
  width: 100%;
}

.product-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 0;
}

.product-description {
  line-height: 1.6;
  margin-bottom: 16px;
}

.other-products {
  margin-top: 1rem;
}

.u-margin-top-30 {
  margin-top: 30px;
}

.u-margin-top-50 {
  margin-top: 50px;
}

.u-padding-15 {
  padding: 15px;
}

.u-border-top {
  border-top: 1px solid #45b6d9;
}

/* Cards */

.panel {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border: none;
  
  
}

.panel:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);

  
}

.panel img {
  width: 100%;
}

.panel-sale::before {
  content: 'SALE';
  font-size: 18px;
  color: #fff;
  background-color: #4c8dcf;
  border-radius: 0 8px 0 8px;
  padding: 8px 12px;
  position: absolute;
  top: -5px;
  left: 10px;
  z-index: 1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transform-origin: left top;
}

.panel-sale:hover::before {
  content: "SALE";
  left: -5px;
}

/* .panel-added-to-cart::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f218";
    vertical-align: middle;
    font-weight: 900;
    color: #fff;
    height: 32px;
    width: 32px;
    text-align: center;
    padding-top: 4px;
    border-radius: 50%;
    background-color: #4884c2;
    font-size: 16px;
    top: -5px;
   right: 10px;
    z-index: 100;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  } */
  
  /* .panel-added-to-cart::before {
    content: "ADDED TO CART";
    position: absolute;
    font-weight: 400;
    color: #fff;
    height: 36px;
    width: calc(100% - 26px);
    text-align: center;
    padding-top: 8px;
    background-color:#4c8dcf;
    font-size: 14px;
    top: -5px;
  left: 12px;
    z-index: 100;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  } */
  
  .panel-added-to-cart::before {
    content: 'ADDED TO CART';
    color: #fff;
    background-color: #4c8dcf;
    border-radius: 0 8px 0 8px;
    padding: 8px 12px;
    position: absolute;
    top: -5px;
    left: 10px;
    z-index: 100;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  .panel-added-to-cart:hover::before {
    content: "ADDED TO CART";
    left: -5px;
  }

.panel-title {
  font-size: 18px;
  margin-bottom: 20px;
  
}


/* Font-Awesome Overrides  */

.fa-star {
  color: #ddd;
}

.fa-heart {
  color: #ccc;
  font-size: 24px;
  margin-left: 16px;
}

.fa-heart:focus,
.fa-heart:hover {
  color: #ff7900;
}

.youtube-btn {
  background-color: transparent;
  border: none;
  padding-left: 0;
}

.fa-youtube {
  color: #4884c2;
  font-size: 52px;
  flex: 1;
}

.checked {
  color: #ff7f00;
}

.star-rating {
  font-size: 1.2em;
  margin: 0 8px;
  font-weight: bold;
}

.price {
  font-size: 50px;
  color: #ff7900;
  font-weight: 700;
  margin: 8px 0 4px 0;
}

.free-shipping-qualifies > i {
  font-size: 18px;
  color: #4884c2;
}

.form-group {
  margin-bottom: 0;
}

#exampleSelect1 {
  display: flex;
  align-self: center;
  margin-bottom: 0;
  height: 48px;
  border-radius: 24px;
  border: solid 2px #ccc;
  font-size: 1.5em;
  padding: 0 24px;
  width: unset;
  flex: 1;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, #ccc 60%),
    linear-gradient(135deg, #ccc 40%, transparent 50%) !important;
  background-position: calc(100% - 28px) 20px, calc(100% - 18px) 20px, 100% 0;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* MODAL  */
.modal-header {
  padding: 0 1rem;
  border-bottom: 0;
}

.close {
  font-size: 32px;
}

iframe {
  width: 100%;
  min-height: 63vh;
}

.modal-body {
  padding-top: 0;
}

.modal-dialog {
  width: unset;
  max-width: 60%;
}

.video-description {
    line-height: 52px;
    
}

.play-video {
    display: inline-flex;
}

/* ADDED  */

.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 20px;
}

.inset-control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 20px;
  margin: 0 8px;
}

.quantity {
  font-size: 20px;
  color: #ff7f00;
  margin: 0 16px;
}

.inset-quantity {
  font-size: 28px;
  color:#ff7f00;
  margin: 0 16px;
}

.reviews-list {
  border-right: 1px solid #333;
  padding-right: 8px;
}

.food-sprite-list {
  padding-left: 8px;
}

.food-sprite-list > img {
  margin: 0 4px;
  width: 25px;;
}



.options-toggle {
  border-color: #4884c2;
}

.options-toggle:active, .options-toggle:hover {
  background-color: #4884c238 !important;
  border: 1px solid #4884c2 !important;
  
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


/* MEDIA QUERIES  */



@media only screen and (max-width: 600px) {
  iframe {
    min-height: 100%;
  }
  .modal-dialog {
    width: unset;
    max-width: 100%;
  }
  
  .food-sprite-list {
    display: flex;
    margin-top: 8px;
  }
  
  .reviews-list {
    border-right: none;
  }
  
  .link-to-seller {
    font-size: calc(14px + (14 - 9) * ((100vw - 300px) / (2600 - 300))) !important;
  }
  
  .inset-control-container {
    margin: 0 2px;
  }
  
  .button-default-secondary {
    padding: 15px 4px;
    font-size: calc(12px + (12 - 9) * ((100vw - 300px) / (2600 - 300))) !important;
    
  }
  
  .dropdown-menu {
    left: unset;
    right: 0;
  
  }
  
  
}